.tooltipContainer {
    position: relative;
    display: inline-block;
    transition: all 0.3s;
    top: 6px;
    height: 0;
    position: absolute;
    top: -1px;
    right: -60%;
    cursor: pointer;
}

.tooltip {
    transition: opacity 0.5s ease-in-out;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-name: fade-in;
    width: 195px;
    height: 100px;
    background-color: #5f6aac;
    color: #fff;
    position: absolute;
    z-index: 10;
    font-size: 14px;
    text-align: left;
    padding: 10px;
 
}


@keyframes  fade-in {
    0% {
        opacity: 0;
    }100% {
        opacity: 1;
    }
}