@import 'https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap';


* {
  font-family: Lato, sans-serif;
}
:global input[type="radio"] {
  background-color: #4CAF50;
  border-color: #4CAF50;
}



@keyframes fade-in {
    0% {
      opacity: 0;
    } 100% {
      opacity: 1;
    }
}